*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(73, 80, 87);
  background-color: rgb(233, 245, 219);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(73, 80, 87);
}

.navbar {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20% 20% 60%;
  background-color: rgb(87, 204, 153);
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 2rem;
  margin: 0;
}

.navspacelarge {
  padding: 1em 0;
}

.box-rows {
  display: grid;
  grid-auto-flow: row;
  margin: 2.5em;
  row-gap: 6em;
}

.basic-box {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60% 40%;
  column-gap: 7em;
}

.borderbox {
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  width: 250px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 10px;
  border-color: rgb(87, 204, 153);
  border-style: solid;
}

h1 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 3rem;
  margin: 0;
}

.imptext {
  font-size: 2rem;
}

.image {
  width: 250px;
}

.socialicons {
  width: 50px;
}

.footer {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 20% 20% 60%;
  background-color: rgb(87, 204, 153);
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 2rem;
  margin: 4em 0 0 0;
}

.footerp {
  margin: 0;
  padding: 0;
}
